<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enchanted Library</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <nav>
        <div class="nav-left">

            <a href="/">Enchanted Archive</a>

            {% if session. User %}
                <a href="/profile">Profile</a>
                <a href="/logout">Logout</a>
            {% endif %}
        </div>
        <div class="nav-right">
            {% if not session. User %}
                <a href="/login">Login</a>
                <a href="/signup">Sign Up</a>
            {% endif %}
        </div>
    </nav>

    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

</body>
</html>